@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import '../node_modules/swiper/swiper-bundle.css';
//

$mainColor: #69B0DA;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    //color: #333;
    //font-size: 20px;
    //font-weight: 500;
    //line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}
img {
    display: block;
}
.inner {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

/*HEADER*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    .logo {
        height: 80px;
        position: absolute;
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
        border: 1px solid $mainColor;
        border-radius: 50%;
    }
    .inner {
        height: 150px;
        @include center;
        .main-container {
            width: 60%;
            height: 155px;
            position: absolute;
            top: 10px;
            left: 115px;
            .search-container {
                height: 40px;
                position: absolute;
                top: 0;
                right: 0;
                .search {
                    position: absolute;
                    right: 0;
                    input {
                        width: 36px;
                        height: 34px;
                        padding: 4px 10px;
                        border: 1px solid #ccc;
                        box-sizing: border-box;
                        border-radius: 17px;
                        outline: none;
                        background-color: #fff;
                        color: #777;
                        transition: width .4s;
                        &:focus {
                            width: 260px;
                            border-color: $mainColor;
                        }
                    }
                    .material-icons {
                        height: 24px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 5px;
                        margin: auto;
                        transition: .4s;
                    }
                    &.focused {
                        .material-icons {
                            opacity: 0;
                        }
                    }
                }
            }
            .main-menu {
                width: 100%;
                position: absolute;
                bottom: 0;
                @include center;
                .item {
                    width: 50px;
                    height: 50px;
                    margin: 0 3.5%;
                    border-radius: 100%;
                    background-color: #c4c4c4;
                    cursor: pointer;
                    flex-shrink: 0;
                    @include center;
                    &:hover {
                        background-color: $mainColor;
                        transition: .4s;
                    }
                    .item__name {
                        font-family: sans-serif;
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }
        }
        .btn {
            position: absolute;
            right: 0;
            //.btn {
            //    width: 130px;
            //    padding: 8px;
            //    background-color: $mainColor;
            //    color: #fff;
            //    text-align: center;
            //    font-size: 18px;
            //    border-color: $mainColor;
            //    border-radius: 4px;
            //    cursor: pointer;
            //}
        }
    }
}

/*VISUAL*/
.visual {
    //width: 1920px;
    .swiper-container {
        position: relative;
        .swiper-wrapper {
            .swiper-slide {
                img {
                    width: 100%;
                }
            }
        }
        .swiper-pagination {
            @include center;
            .swiper-pagination-bullet {
                background-color: transparent;
                background-image: url("../images/slide_pager.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 15px;
                height: 15px;
                margin-right: 6px;
                outline: none;
            }
        }
        .swiper-prev,
        .swiper-next {
            width: 40px;
            height: 40px;
            border: 1px solid $mainColor;
            border-radius: 50%;
            color: $mainColor;
            position: absolute;
            top: 50%;
            cursor: pointer;
            z-index: 9;
            @include center;
            &:hover {
                background-color: $mainColor;
                color: #fff;
                transition: .4s;
            }
        }
        .swiper-prev {
            left: 2%;
        }
        .swiper-next {
            right: 2%;
        }
    }
}

